Mengambil Seluruh Kolom dalam suatu Tabel

In [ ]:
select * from ms_produk

Mengambil Satu Kolom dari Tabel

In [ ]:
select nama_produk from ms_produk

Mengambil Lebih dari Satu Kolom dari Tabel

In [ ]:
select nama_produk, harga from ms_produk

Membatasi Pengambilan Jumlah Row Data

In [ ]:
select nama_produk, harga from ms_produk limit 5

Penggunaan SELECT DISTINCT statement

In [ ]:
select distinct nama_customer, alamat from ms_pelanggan