Membaca Data

In [ ]:
SELECT * FROM dqlabdatateks

Latihan 1

In [ ]:
SELECT LOCATE('|||', isi) AS posisi_1
FROM dqlabdatateks;

Latihan 2

In [ ]:
SELECT LOCATE('|||', isi, LOCATE('|||',isi) + 1) as posisi_2
FROM dqlabdatateks;

Latihan 3

In [ ]:
SELECT LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) as posisi_3
FROM dqlabdatateks;

Latihan 4

In [ ]:
SELECT LEFT(isi, LOCATE('|||', isi) -1) as Nama
FROM dqlabdatateks;

Latihan 5

In [ ]:
SELECT SUBSTR(isi, LOCATE('|||', isi) + 3, LOCATE('|||', isi, LOCATE('|||', isi) + 1) - LOCATE('|||', isi) - 3) as KotaLahir
FROM dqlabdatateks;

Latihan 6

In [ ]:
SELECT SUBSTR(isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, 
LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3) as TanggalLahir
FROM dqlabdatateks;

Latihan 7

In [ ]:
SELECT RIGHT(isi, LENGTH(isi) - LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - 3 + 1) as Propinsi
FROM dqlabdatateks;