Latihan 1

In [ ]:
SELECT 
    CONCAT_WS(' - ',
        -- Ekstraksi Kota dari 'isi'
        SUBSTR(isi, 
            LOCATE('|||', isi) + 3, 
            LOCATE('|||', isi, LOCATE('|||', isi) + 3) - LOCATE('|||', isi) - 3),
        -- Ekstraksi Provinsi dari 'isi'
        RIGHT(isi, 
            LENGTH(isi) - LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 3) + 3) - 2)
    ) AS TempatLahir
FROM dqlabdatateks;

Latihan 2

In [ ]:
SELECT 
    LEFT(
        -- Ekstraksi tanggal lahir dari 'isi'
        SUBSTR(isi, 
            LOCATE('|||', isi, LOCATE('|||', isi) + 3) + 3, 
            LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 3) + 3) - LOCATE('|||', isi, LOCATE('|||', isi) + 3) - 3
        ), 
        2  -- Mengambil 2 karakter pertama (hari)
    ) AS DD
FROM dqlabdatateks;

Latihan 3

In [ ]:
SELECT 
    RIGHT(
        -- Ekstraksi tanggal lahir dari 'isi'
        SUBSTR(isi, 
            LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, 
            LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3
        ), 
        4  -- Mengambil 4 karakter terakhir (tahun)
    ) AS YYYY
FROM dqlabdatateks;

Latihan 4

In [ ]:
SELECT 
    SUBSTR(
        SUBSTR(
            isi, 
            -- Menentukan posisi awal untuk mengekstrak tanggal (DD)
            LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, 
            -- Menghitung panjang substring dari DD hingga bulan
            LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - 
            LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3
        ), 
        4,  -- Mengambil substring dari karakter ke-4 untuk mendapatkan nama bulan
        -- Menghitung panjang substring untuk mengambil sisa karakter setelah DD
        LENGTH(SUBSTR(
            isi, 
            LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, 
            LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - 
            LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3
        )) - 8  -- Mengurangi panjang total untuk mendapatkan hanya nama bulan
    ) AS Bulan  -- Menampilkan hasil sebagai kolom 'Bulan'
FROM 
    dqlabdatateks;  -- Mengambil data dari tabel dqlabdatateks

Latihan 5

In [ ]:
SELECT CASE
    WHEN SUBSTR(SUBSTR(isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3), 4, LENGTH(SUBSTR(isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3)) - 8) = 'Januari'
    THEN '01'
    
    WHEN SUBSTR(SUBSTR(isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3), 4, LENGTH(SUBSTR(isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 3, LOCATE('|||', isi, LOCATE('|||', isi, LOCATE('|||', isi) + 1) + 1) - LOCATE('|||', isi, LOCATE('|||', isi) + 1) - 3)) - 8) = 'Februari'
    THEN '02'
    
    ELSE '00'
END AS MM 
FROM dqlabdatateks;