Tugas Praktek

In [ ]:
SELECT * FROM ms_item_kategori;

SELECT * FROM ms_item_warna;

Menggabungkan Tabel dengan Key Columns

In [ ]:
SELECT * FROM ms_item_kategori, ms_item_warna WHERE nama_barang = nama_item;

Bagaimana jika urutan Tabel diubah?

In [ ]:
SELECT * FROM ms_item_warna, ms_item_kategori WHERE nama_barang = nama_item;

Menggunakan Prefix Nama Tabel

In [ ]:
SELECT ms_item_kategori.*, ms_item_warna.*
FROM ms_item_warna, ms_item_kategori
WHERE nama_barang = nama_item;

Penggabungan Tanpa Kondisi

In [ ]:
SELECT * FROM ms_item_kategori, ms_item_warna;

Tugas Praktek: Menggunakan INNER JOIN (1/3)

In [ ]:
SELECT * FROM ms_item_warna INNER JOIN ms_item_kategori ON ms_item_warna.nama_barang = ms_item_kategori.nama_item;