Tugas Praktek: Menggunakan INNER JOIN (1/3)

In [ ]:
SELECT * FROM ms_item_warna INNER JOIN ms_item_kategori ON ms_item_warna.nama_barang = ms_item_kategori.nama_item;

tabel tr_penjualan dan tabel ms_produk

In [ ]:
SELECT * FROM tr_penjualan;

SELECT * FROM ms_produk;

Tugas Praktek: Menggunakan INNER JOIN (2/3)

In [ ]:
SELECT * FROM tr_penjualan 
INNER JOIN ms_produk 
ON tr_penjualan.kode_produk = ms_produk.kode_produk;

Tugas Praktek: Menggunakan INNER JOIN (3/3)

In [ ]:
SELECT tr_penjualan.kode_transaksi, 
tr_penjualan.kode_pelanggan, 
tr_penjualan.kode_produk,  
ms_produk.nama_produk,
tr_penjualan.qty,
ms_produk.harga,
tr_penjualan.qty * ms_produk.harga as total
FROM tr_penjualan
INNER JOIN ms_produk
ON tr_penjualan.kode_produk= ms_produk.kode_produk;

Tabel yang Akan Digabungkan

In [ ]:
SELECT * FROM tabel_A;

SELECT * FROM tabel_B;

Menggunakan UNION

In [ ]:
SELECT * FROM tabel_A
UNION
SELECT * FROM tabel_B;

Menggunakan UNION dengan Klausa WHERE

In [ ]:
SELECT * FROM tabel_A WHERE kode_pelanggan = 'dqlabcust03'
UNION
SELECT * FROM tabel_B WHERE kode_pelanggan = 'dqlabcust03';

Menggunakan UNION dan Menyelaraskan Kolom-Kolomnya.

In [ ]:
SELECT CustomerName, ContactName, City, PostalCode FROM Customers
UNION
SELECT SupplierName, ContactName, City, PostalCode FROM Suppliers;