Project INNER JOIN

In [ ]:
SELECT DISTINCT 
    ms_pelanggan.kode_pelanggan, 
    ms_pelanggan.nama_customer, 
    ms_pelanggan.alamat
FROM 
    ms_pelanggan
INNER JOIN 
    tr_penjualan ON ms_pelanggan.kode_pelanggan = tr_penjualan.kode_pelanggan 
WHERE 
    tr_penjualan.nama_produk IN ('Kotak Pensil DQLab', 'Flashdisk DQLab 32 GB', 'Sticky Notes DQLab 500 sheets');

Project UNION

In [ ]:
SELECT
    nama_produk,
    kode_produk,
    harga
FROM
    ms_produk_1
WHERE
    harga < 100000
UNION
SELECT
    nama_produk,
    kode_produk,
    harga
FROM
    ms_produk_2
WHERE
    harga < 50000;