Fungsi Skalar Matematika - ABS()

In [ ]:
SELECT StudentID, FirstName, LastName, Semester1, Semester2, ABS(MarkGrowth) as MarkGrowth FROM students;

Fungsi Skalar Matematika - CEILING()

In [ ]:
SELECT StudentID, FirstName, LastName,CEILING(Semester1) as Semester1, CEILING(Semester2) as Semester2, MarkGrowth FROM students;

Fungsi Skalar Matematika - FLOOR()

In [ ]:
SELECT StudentID, FirstName, LastName, FLOOR(Semester1) as Semester1, FLOOR(Semester2) as Semester2, MarkGrowth FROM students;

Fungsi Skalar Matematika - ROUND()

In [ ]:
SELECT StudentID, FirstName, LastName, ROUND(Semester1, 1) as Semester1, ROUND(Semester2, 0) as Semester2, MarkGrowth FROM students;

Fungsi Skalar Matematika - SQRT( )

In [ ]:
SELECT StudentID, FirstName, LastName, SQRT(Semester1) AS Semester1, Semester2, MarkGrowth FROM students;

Tugas Praktek

In [ ]:
SELECT StudentID, FirstName, LastName, MOD(Semester1, 2) as Semester1, Semester2, EXP(MarkGrowth) FROM students;