Fungsi Text - CONCAT()

In [ ]:
SELECT StudentID, CONCAT(FirstName, LastName) as name, Semester1, Semester2, MarkGrowth FROM students;

Fungsi Text - SUBSTRING_INDEX( )

In [ ]:
SELECT SUBSTRING_INDEX(column, delimiter, index to return) FROM TableName;

Keterangan:
   1. column --> merupakan nama kolom yang akan dipecah text-nya,
   2. delimiter --> karakter atau gabungan beberapa karakter untuk pemecah text pada kolom bersangkutan,
   3. index_to_return --> indeks dari pecahan text yang akan diambil.

In [ ]:
SELECT StudentID, SUBSTRING_INDEX(email, '@', 1) as name FROM students;

Fungsi Text - SUBSTR( )

In [ ]:
SELECT StudentID, SUBSTR(FirstName, 2, 3) as initial FROM students;

Fungsi Text - LENGTH( )

In [ ]:
SELECT StudentID, FirstName, LENGTH(FirstName) as Total_Char FROM students;

Fungsi Text - REPLACE( )

In [ ]:
SELECT REPLACE(ColumnName, Character/String to be change, New String/Character)
FROM TableName;

Keterangan:

1. ColumnName --> nama kolom yang akan diganti isi tiap record/barisnya berdasarkan string/karakter tertentu
2. Character/String to be change --> string/karakter yang dimiliki untuk diganti
3. New String/Character --> string/karakter baru pengganti string/karakter sebelumnya

In [ ]:
SELECT StudentID, Email, REPLACE(Email, 'yahoo', 'gmail') as New_Email FROM students;

Tugas Praktek

In [ ]:
SELECT StudentID, UPPER(Firstname) as FirstName, LOWER(LastName) as LastName FROM students;