Fungsi Aggregate - SUM()

In [ ]:
SELECT SUM(Semester1) as Total_1, SUM(Semester2) as Total_2 FROM students;

Fungsi Aggregate - COUNT()

In [ ]:
SELECT COUNT(FirstName) as Total_Student FROM students;

Fungsi Aggregate - AVG( )

In [ ]:
SELECT AVG(Semester1) as AVG_1, AVG(Semester2) as AVG_2 FROM students;

Tugas Praktik Aggregate

In [ ]:
SELECT MIN(Semester1) as Min1, Max(Semester1) as Max1, MIN(Semester2) as Min2, MAX(Semester2) as Max2 FROM students;

===========================================================================

Group by Single Column

In [ ]:
SELECT province, 
COUNT(DISTINCT order_id) as total_order, 
SUM(item_price) as total_price 
FROM sales_retail_2019 
GROUP BY province;

Group by Multiple Column

In [ ]:
SELECT province,
brand,
COUNT(DISTINCT order_id) as total_order, 
SUM(item_price) as total_price 
FROM sales_retail_2019 
GROUP BY province, brand;

Fungsi Aggregate dengan Grouping

In [ ]:
SELECT province, 
COUNT(DISTINCT order_id) AS total_unique_order, 
SUM(item_price) AS revenue 
FROM sales_retail_2019 
GROUP BY province;

Tugas Praktek

In [ ]:
SELECT MONTH(order_date) AS order_month, SUM(item_price) AS total_price, 
CASE  
    WHEN SUM(item_price) >= 30000000000 THEN 'Target Achieved'
    WHEN SUM(item_price) <= 25000000000 THEN 'Less Performed'
    ELSE 'Follow Up'
END as remark
FROM sales_retail_2019
GROUP BY MONTH(order_date);